.preview-ticket-modal {
  &__example {
    display: flex;
    justify-content: center;
    margin-top: $pad-medium;
  }

  &__jira-screenshot,
  &__zendesk-screenshot {
    width: 400px;
    height: auto;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
  }

  &__freescout-preview {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__freescout-card {
    width: 400px;
    padding: $pad-large;
    border-radius: 8px;
    background-color: $ui-off-white;
    border: 1px solid $ui-fleet-black-10;

    h3 {
      margin-top: 0;
      margin-bottom: $pad-small;
    }

    p {
      margin: 0;
    }
  }

  .automations-learn-more {
    text-align: center;
  }
}
